{% extends 'base.html' %}

{% block header %}
  <div>
    <h1>{% block title %}サイトについて{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <p>個人で運用するwikipediaの情報をもとにベクトル検索を行うサイトになります。</p>

  <h1>このサイトの目的</h1>
  <p>自然言語で目的の漫画、アニメ、映画などを検索できるようにする目的で作成しています。ユーザーの入力をOpenAIの「text-embedding-ada」でベクトル化し、事前に計算されたwikipediaのベクトルで０田と比較を行い、ランキングにしています。</p>

  <h1>このサイトの使い方</h1>
  <p>検索したいジャンル(漫画、アニメ、映画等)のページで自然言語で入力し、検索してみてください。年代の指定やどの要素を重視して検索するかを決めるオプションもあります。</p>

  <h1>検索の精度</h1>
  <p>現時点ではあまり精度が良いとは言えません。\n今後、ベクトル化するデータの工夫などで精度を改善していく予定です。</p>

{% endblock %}